<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>

    <title>Title</title>
</head>
<body>
<h2 > 登录成功</h2>
<br>

<div class="panel panel-default">
    <div class="panel-heading">Student</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>password</th>
            <th>phone</th>
            <th>edit</th>
            <th>delete</th>
            <th>接口推送</th>
            <th>接口一条推送</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${pageInfo.list}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.phone}"></td>
            <td><a th:href="${'/edit/'+user.userId}">edit</a> </td>
            <td><a th:href="${'/del/'+user.userId}">delete</a> </td>
            <td><a th:href="${'/post/'+user.userId}">接口推送</a> </td>
            <td><a th:href="${'/postone/'+user.userId}">接口一条推送</a> </td>
        </tr>
        </tbody>
    </table>
    <div class="panel panel-default">
    <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span th:text="${pageInfo.total}"></span> 条记录</p>
    <a th:href="@{/listfy1}">首页</a>
    <a th:href="@{/listfy1(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
    <a th:href="@{/listfy1(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
    <a th:href="@{/listfy1(pageNum=${pageInfo.pages})}">尾页</a>
</div>
</div>
<a class="btn btn-info" href="/toAdd" role="button">add</a>
&nbsp;&nbsp;&nbsp;
<a class="btn btn-info" href="/search" role="button">seach</a>



</body>
</html>